footer {
    margin-top: 20vh;
    width: 100%;
    background-color: #4776E6;
    padding: 40px;
    position: relative;

    .wrap-footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        align-items: center;
        justify-items: center;
        gap: 20px;



        .description {
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                font-family: $Roboto-font;
                text-transform: uppercase;
                font-size: 1.2em;
                color: #fff;
            }
        }

        ul {
            display: flex;

            li {
                margin: 10px 20px 0 0;

                a {
                    color: #fff;
                    font-size: 1.1em;
                    text-transform: uppercase;

                    &:hover {
                        color: rgb(138, 52, 138);
                    }
                }
            }
        }

        form {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;


            input {
                outline: none;
                border: none;
                font-size: 16px;
                padding: 5px 0 5px 33px;
            }

            i {
                cursor: pointer;
                color: #333;
                font-size: 22px;
                position: absolute;
                left: 5px;
                top: 3px;
            }

            button {
                padding: 6px 8px;
                cursor: pointer;
                background-color: #CC0000;
                border: none;
                letter-spacing: .5px;
                font-family: $Roboto-font;
                color: white;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }


    .row {
        border-bottom: 2px solid black;
        display: block;
        width: 100%;
        margin: 30px auto;
    }

    .copyright {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        p {
            font-size: 1.3em;
            color: white;
            text-shadow: 2px 2px 0 rgba(0, 0, 0, .2);

            sup {
                color: #333;

            }
        }

        .footer-sosmed {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            li {

                a {
                    font-size: 1.8em;
                    color: #fff;

                    .fa-github:hover {
                        color: rgb(36, 41, 46);
                    }

                    .fa-medium:hover {
                        color: #000;
                    }

                    .fa-linkedin:hover {
                        color: #0073B1;

                    }
                }
            }
        }
    }
}