$bg: url(../src/img/parallax.jpg);

.merek {
    margin-top: 20vh;
    height: 100vh;

    .wrap-merek {
        width: 100%;
        background-image: $bg;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 40px;

        .text-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: center;

            h3 {
                text-shadow: 3px 3px 0 #000;
                font-size: 4em;
                font-family: $Poppins-font;
                font-weight: 500;
            }

            img {
                filter: drop-shadow(3px 3px 0 #fff);
            }
        }

        .logo img {
            margin: 20px;

            &:first-child {
                margin-top: 60px;
            }
        }
    }
}